.body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color:blue;
    font-size: larger;
}
li:hover{
    cursor: pointer;
}
.first{
    background-color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: x-large;
    display: grid;
    grid-template-columns: 400px 700px;
}
.media{
    width: 400px;
}
.Second{
    font-size: x-large;
    display: grid;
    grid-template-columns: 400px 700px;
}
.project{
    margin: 0px 0px 0px 15px;
    width: 600px;
    display: inline-block;
    border: 2px solid aliceblue;
    color: aliceblue;
    font-size: large;
}
